<div>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftenor.com%2Fsearch%2Fprivate-gifs&psig=AOvVaw1izHTxVWk40wbDyxRbLr0P&ust=1677546315758000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCNja0ZPBtP0CFQAAAAAdAAAAABAE" alt="gif" />
    <h1> This is private </h1>
</div>